# Push notification topic 
NTFY_TOPIC=NodeJS_App_Manager_123456789987654321

# ntfy server (change only if you self-host ntfy)
NTFY_URL=https://ntfy.sh

# This is your server's IP or domain
CORS_ORIGINS=http://your-server-ip